<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
	<link href="/css/home.css" rel="stylesheet">
</head>
<body>
	
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
							<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="home-container">
			 <img class="img-home" alt="Imagem Home" src="image/metalurgica.png">
	
		</div>
		
	</section>		
</body>
</html>